{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=your_server;Port=5432;Database=your_db;Username=your_user;Password=your_password;"
  }
}
